<div class="wrapper">
  <header id="header" class="header">
    <nav class="menu-navigation">
      <a class="menu-icon-toggle toggle"><span></span></a>
      <i class="menu-background top"></i>
      <i class="menu-background middle"></i>
      <i class="menu-background bottom"></i>
      <ul class="menu">
        <li><a class="toggle">HOME</a></li>
        <li><a class="toggle">GALLERY</a></li>
        <li><a class="toggle">PORTFOLIO</a></li>
        <li><a class="toggle">SERVICES</a></li>
        <li><a class="toggle">ABOUT</a></li>
        <li><a class="toggle">CONTACT</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="container-fluid fixed-top top-menu"></div>
<div class="test"></div>