.outer{
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 50px;
}
h1{
    color: #fff;
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    font-weight: 900;
}

p{
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-weight: 900;
    font-size: 18pt;
    line-height: 40px;
}

  