<div class="container-fluid outer parallax-window" data-parallax="scroll" data-image-src="https://www.desktopbackground.org/download/o/2013/09/12/637424_plain-coloured-backgrounds-wallpapers-zone_1024x768_h.png">
<h1 data-aos="fade-up" class="text-center app-font">
  HOW WE WORK
</h1>
<br><br>
<div class="container">
  <p data-aos="fade-up" class="text-center app-font">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tempore possimus, 
  sapiente odit dolorem enim ex exercitationem ducimus. Dolore corrupti eveniet,
   possimus quaerat debitis nihil nemo aliquam repudiandae! Distinctio fugit nostrum neque,
  dolorum perspiciatis laborum. Vitae delectus aspernatur velit perspiciatis quas possimus
  repudiandae doloremque natus, modi provident. Ea ratione iure qui quisquam vero, atque dolor.
  Debitis perferendis exercitationem saepe hic, asperiores totam nostrum assumenda vel facilis 
  ducimus commodi dolorem maiores autem ea quis. Quaerat illum nobis, totam deserunt qui,
  vitae eveniet est cum exercitationem cupiditate debitis aliquam dolore nam aperiam impedit tempora 
  dolorem molestias voluptates perferendis dolor voluptatem incidunt earum! Dolorum incidunt, laboriosam 
  esse corrupti deleniti amet nostrum voluptas laborum nihil placeat laudantium, repudiandae reprehenderit, 
  animi repellat officiis. Totam facere non quibusdam iste, repellat alias error voluptas veniam sapiente 
  nemo natus cupiditate nulla quia eius! Exercitationem alias facilis voluptas deserunt, veritatis aliquid, 
  assumenda sed consequatur soluta esse dolorem. Enim, dicta.
  </p>
</div>

</div>