<div class="container-fluid outer" [style.background]="'url(' + bgImg + ')'">
<h1 data-aos="fade-up" class="text-center app-font">
  HOW WE WORK
</h1>
<br><br>
<div class="container">
  <p data-aos="fade-up" class="text-center app-font">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tempore possimus, 
  sapiente odit dolorem enim ex exercitationem ducimus. Dolore corrupti eveniet,
   possimus quaerat debitis nihil nemo aliquam repudiandae! Distinctio fugit nostrum neque,
  dolorum perspiciatis laborum. Vitae delectus aspernatur velit perspiciatis quas possimus
  repudiandae doloremque natus, modi provident. Ea ratione iure qui quisquam vero, atque dolor.
  Debitis perferendis exercitationem saepe hic, asperiores totam nostrum assumenda vel facilis 

  </p>
</div>

</div>