<div class="container-fluid outer p-5">

<div class="row">

  <div class="col-md-4 col-12 bord">
    <h4>M Events</h4>
    <p>Your Street,<br>
    City, State, Zip<br>
    Phone: 123-456-7890 <br>
    email@youremail.com</p>
  </div>

  <div class="col-md-4 col-12 bord">
    
  </div>

  <div class="col-md-4 col-12 bord">
    
  </div>

</div>
<hr>
<div class="container col-md-4 col-12">
  
    <div class="button-wrap facebook">
        <div class="button-inner-wrap">
          <i class="icon-facebook inactive"></i>
          <i class="icon-facebook active"></i>
        </div>
      </div>
      
      <div class="button-wrap dribbble">
        <div class="button-inner-wrap">
          <i class="icon-dribbble inactive"></i>
          <i class="icon-dribbble active"></i>
        </div>
      </div>
      
      <div class="button-wrap twitter">
        <div class="button-inner-wrap">
          <i class="icon-twitter inactive"></i>
          <i class="icon-twitter active"></i>
        </div>
      </div>
      
      <div class="button-wrap pinterest">
        <div class="button-inner-wrap">
          <i class="icon-pinterest inactive"></i>
          <i class="icon-pinterest active"></i>
        </div>
      </div>

</div>
</div>