<div class="container-fluid form-box">
      <div class="container box-inner" *ngIf="width>720">
        <app-callback>  </app-callback>
      </div>
</div>
<div id="carouselExampleFade" data-pause="false" data-interval="6000" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <ng-container *ngFor="let slide of sliders">
      <div  [ngStyle]="{'background-image': 'url(' + slide.url + ')'}" [class]="slide.id == 1 ? 'carousel-item active' : 'carousel-item'" id="slider-{{slide.id}}">
      <div class="box">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
           Sunt, ut suscipit quasi deleniti illum consectetur animi 
           tempora optio sequi alias ea, nam molestiae quaerat! Eius 
           vero sequi earum tempora. Magni dolores ex omnis harum 
        </p>
      </div>
      </div>
    </ng-container>
  </div>
</div>